* {
  box-sizing: border-box;
}

:root {
  /* spacing */
  --nav-height: 80px;
  --negative-margin: calc((var(--nav-height) / 2) * -1);
  --padding-desktop: 2rem;
  --padding-mobile: 1rem;

  /* colors */
  --vanilla: rgb(254, 255, 240);
  --sky-blue:  rgb(0, 153, 255);
  --orange: rgba(255, 89, 0, 1);
}

body {
  margin: 0;
  background-color: var(--vanilla);
  font-family: "TASA Orbiter", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: var(--padding-mobile);
}

header {
  max-width: 1600px;
  flex: 1;
  align-content: center;
  translate: 0px var(--negative-margin);
}

header h1.intro,
header p.contact {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
}

header p.contact {
  margin: 0;
}

header a {
  color: var(--orange);
  transition: color 0.3s ease;
}

header a:hover {
  color: var(--sky-blue);
}

h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

@media screen and (width >= 700px) {

  .container {
    padding: var(--padding-desktop);
  }

  header h1.intro,
  header p.contact {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    display: inline;
  }
}
