* {
  box-sizing: border-box;
}

:root {
  /* SPACING */
  --nav-height: 80px;
  --negative-margin: calc((var(--nav-height) / 2) * -1);
  --padding-desktop: 2rem;
  --padding-mobile: 1rem;

  /* COLORS */
  --vanilla: rgb(254, 255, 240);
  --sky-blue: rgb(0, 153, 255);
  --orange: rgba(255, 89, 0, 1);

  /* THEME TOKENS  */
  /* --bg: var(--vanilla);
  --text: #1a1a1a;
  --link: var(--orange);
  --link-hover: var(--sky-blue);
  --nav-link: var(--link);
  --nav-link-hover: var(--link-hover);
  --border: var(--text); */
}

/* PAGE TRANSITIONS */
@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none; /* keep nav/logo static */
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

::view-transition-old(page-transition) {
  animation: fade-out 180ms ease forwards;
}
::view-transition-new(page-transition) {
  animation: fade-in 220ms ease 60ms both;
}

@media (prefers-reduced-motion: reduce) {
  main {
    view-transition-name: none;
  } /* Respect user settings for reduced motion*/
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: "TASA Orbiter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mobile);
}

main {
  view-transition-name: page-transition; /* Name the main content as the shared element */
  max-width: 1600px;
  flex: 1;
  align-content: center;
}

main a {
  color: var(--link);
  transition: color 0.3s ease;
}

main a:hover {
  color: var(--link-hover);
}

main a {
  text-decoration: none;
}

@media screen and (width >= 700px) {
  .container {
    padding: var(--padding-desktop);
  }
}
