* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 242, 253);
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

h1 {
  font-family: "Ancizar Sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}
