* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 242, 253);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

h1 {
  font-size: 4rem;
  display: flex;
  flex-direction: column; 
  line-height: 1.5;
}
