body[data-theme="startpage"] {
  --bg: var(--vanilla);
  --text: black;
  --link: var(--orange);
  --link-hover: var(--sky-blue);
  --nav-link: var(--text);
  --nav-link-hover: var(--link-hover);
  --nav-link-active: var(--link);
  --border: 1px solid var(--text);
  --cursor-url: url(/public/pointer_blue.svg), pointer;
}

body[data-theme="about"] {
  --bg: var(--vanilla);
  --text: var(--forest-green);
  --link: var(--leaf-green);
  --link-hover: #ff5900;
  --nav-link: var(--text);
  --nav-link-hover: var(--link);
  --nav-link-active: var(--link-hover);
  --border: 1px solid var(--text);
  --cursor-url: url(/public/pointer_green.svg), pointer;
}

body[data-theme="projects"] {
  --bg: var(----light-blue);
  --text: var(--midnight-blue);
  --link: var(--sky-blue);
  --link-hover: var(--orange);
  --nav-link: var(--text);
  --nav-link-hover: var(--link-hover);
  --nav-link-active: var(--link);
  --border: 1px solid var(--text);
  --cursor-url: url(/public/pointer_pink.svg), pointer;
}

body[data-theme="cv"] {
  --bg: var(----light-blue);
  --text: var(--midnight-blue);
  --link: var(--sky-blue);
  --link-hover: var(--orange);
  --nav-link: var(--text);
  --nav-link-hover: var(--link-hover);
  --nav-link-active: var(--link);
  --border: 1px solid var(--text);
  --cursor-url: url(/public/pointer_orange.svg), pointer;
}
