---
layout: base.njk
title: Anna Helena Brumark
bodyClass: page-startpage
theme: startpage
permalink: "/" 
---
        <h1 class="intro">
          Hi! I am Anna Helena Brumark, a multidisciplinary frontend developer
          with a background in design and textile art.
        </h1>
        <p class="contact">
          If you wish to get in touch, please
          <a href="mailto:annahelenabrumark@gmail.com">send an email</a>, or
          find me on
          <a
            href="https://www.linkedin.com/in/anna-brumark-12100a273"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          or
          <a
            href="https://github.com/AnnaBrum"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >.
        </p>

