---
layout: base.njk
title: Anna Helena Brumark
bodyClass: page-startpage
theme: startpage
permalink: "/"
---

<div class="startpage-grid" aria-label="startmenu">
  <section class="tile intro">
    <div class="intro-body">
      <p>
        Hi! I am Anna Helena Brumark, an artist, frontend developer and
        designer.
      </p>
      <p>
        If you wish to get in touch, please
        <a href="mailto:hello@annahelenabrumark.com">send an email</a>, or find
        me on <a href="https://www.linkedin.com/in/USERNAME">LinkedIn</a> or
        <a href="https://github.com/USERNAME">GitHub</a>.
      </p>
    </div>
  </section>

  <a class="tile about-cv" href="/about/"><span>about / cv</span></a>
  <a class="tile dev" href="/development/"><span>development</span></a>
  <a class="tile design" href="/design/"><span>design</span></a>
  <a class="tile art" href="/art/"><span>art</span></a>
  <a class="tile playground" href="/playground/"><span>playground</span></a>
</div>
