      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><a href="/">Home</a></li>
          <li class="nav-list-item"><a href="/projects/">Projects</a></li>
          <li class="nav-list-item"><a href="/about/">About</a></li>
        </ul>
      </nav>